<!-- this page is for html and style -->

<!-- see bootstrap documentation to understand row and col syntax http://www.w3schools.com/bootstrap/bootstrap_grid_basic.asp -->
<div id='login-view'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <%= erb 'auth/_form'.to_sym %>
    </div>
  </div>
</div>
<!-- this is a partial, see: http://www.sinatrarb.com/faq.html#partials-->

<!-- a partial calls another view -->
<!-- it's good bc it separates concerns -->
<!-- this page is for layout and the entire view -->
<!-- the partial is just the sign in form -->
<!-- so 2 people can work together: 1 on the html and style, the other on form logic, and there will be no merge conflicts in git bc everybody worked on a diff page! -->
