<form class="form-inline" action="/signup" method="POST">
  <div class="form-group">
    <label class="sr-only" for="exampleInputName3">Name</label>
    <input type="text" name="user[name]" class="form-control" id="exampleInputName3" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email</label>
    <input type="email" name="user[email]" class="form-control" id="exampleInputEmail3" placeholder="Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" name="user[password]" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword_confirmation3">Password_confirmation</label>
    <input type="password" name="user[password_confirmation]" class="form-control" id="exampleInputPassword_confirmation3" placeholder="Confirm Password">
  </div>
<!--   <div class="form-group">
    <label class="sr-only" for="exampleInputiImage3">Image</label>
    <input type="text" name="user[image]" class="form-control" id="exampleInputImage3" placeholder="Image">
  </div> -->
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
