
<div class="list-group">

  <h1>Here are our categories</h1>
  <%@categories.each do |category|%>
        <div class="list-group-item active">
          <h4 class="list-group-item-heading"><a href="/categories/<%=category.id%>"> <span class="white_text"><%=category.name%></span></a></h4>
        </div>
  <%end%><!-- end categories loop-->
</div>




